@CHARSET "EUC-KR";

body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
    background: silver;
}
.MainBody
{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    background-color: #777777;
}

.left
{
	position:absolute; 
    width: 280px;
    height: 100%;
    margin-top: 00px;
    padding: 0px;
    background-color: #777777;
    color: #ffffff;
    float: left;
    text-align: center;
    vertical-align:middle;
}

.ModelView
{
	position:absolute;
    height: 100%;
    width: 84%;
    margin-top: 00px;
    margin-left: 280px;
    padding: 0px;
}

#inset {
    position:absolute;
    bottom:10px;
    left:10px;
    border:none;
    width:140px;
    height:140px;
}

#scalarView {
    position:absolute;
    bottom:60px;
    right:30px;
    border:none;
    width:500px;
    height:100px;
}

.popUpDiv {
	position:absolute;
	background-color: white;
	width:400px;
	height:400px;
	margin-top: 20px;
	margin-left: 500px;
	border:5px solid #00FFFF;
	z-index: 9002;
}

.progressBar {
    position:absolute;
	background-color: white;
	width:320px;
	height:72px;
	margin-top: 25%;
	margin-left: 50%;
	border:5px solid #00FFFF;
	z-index: 9003;
}

